
* {
  font-family: serif;
  box-sizing: border-box;
  margin: 0;
}

.table {
  display: grid;
  grid-template-columns: 15% 85%;
  font-weight: bold;
  border: 1px solid black;

  & input {
    text-align: center;
    border: none;
    background-color: #FFF2CC;
    padding: .2rem;

    &:first-child {
      border-right: 1px solid black;
    }
  }

  & input:focus {
    border: 1px solid #00A3BB;
  }
}
