* {
  font-family: serif;
}
.overview {
  border: 2px solid #00A3BB;
  background-color: #FFF2CC;
  text-align: center;
  font-weight: bold; 
}
.table {
  display: grid;
  grid-template-columns: 15% 85%;
}
.info {
  font-weight: bold; 
  border: none;
  border-bottom: 1px solid black;
  padding: .2em;
}
.input {
  font-weight: bold; 
  border: 1px solid black;
  border-top: none;
  padding: .2em;
}
input[type=text]::placeholder {
  color: black;
  font-weight: bold; 
}