.table {
  display: grid;
  grid-template-columns: 15% 30% repeat(5, 1fr);
  box-sizing: border-box;
  margin: 0;
  & input {
    text-align: center;
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: .2rem;
    background-color: #FFF2CC;
    &:first-child {
      border-left: 1px solid black;
      font-weight: bold;
    }
    &:last-child {
      background-color: #d9ead3;
    }
    &:nth-child(6) {
      background-color: #efefef;
    }
  }
}
