.table {
  font-family: serif;
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: right;

  & input {
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: .2rem;

    &:first-child {
      border-left: 1px solid black;
    }
  }

  & input:focus {
    border: 1px solid #00A3BB;
  }
}
.info {
  font-weight: bold;
  font-family: serif;
}
