
* {
  font-family: serif;
  box-sizing: border-box;
  margin: 0;
}

.table {
  display: grid;
  grid-template-columns: 15% 85%;

  & input {

    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: .2rem;
    width: inherit;

    &:first-child {
      border-left: 1px solid black;
      text-align: center;
    }
  }

  & input:focus {
    border: 1px solid #00A3BB;
  }
}
